@import url("https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400&display=swap");
body {
  font-family: "Space Mono", monospace;
  font-weight: normal;
  color: #000000;
  -webkit-font-smoothing: antialiased;
}

h1, h2, h3, h4 {
  font-family: "Space Mono", monospace;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 7.5em;
  line-height: 1em;
  margin: 0 0 0.25em 0;
}

h2 {
  font-size: 6em;
  line-height: 1em;
  margin: 0 0 0.25em 0;
}

h3 {
  font-size: 2.25em;
  line-height: 1em;
  letter-spacing: 0.125em;
  font-weight: normal;
}

h4 {
  font-size: 1.75em;
  line-height: 1em;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.125em;
  margin-bottom: 0.25em;
}

h5 {
  font-family: "Red Hat Display", sans-serif;
  font-size: 1.25em;
  font-weight: normal;
  text-transform: uppercase;
}

p {
  font-family: "Space Mono", sans-serif;
  font-size: 1em;
  margin: 0 0 1em 0;
  padding: 0;
}

p.large {
  font-size: 1.125em;
  line-height: 1.5;
}

a {
  color: #FFC5A5;
  text-decoration: none;
  font-weight: bold;
}
a:hover, a:active {
  color: #FFA16C;
}

.main-button {
  background: transparent;
  font-size: 1.3125em;
  display: inline-block;
  padding: 1.25em 2.25em;
  color: #f3f3fe;
  font-weight: bold;
  text-decoration: none;
  border: 3px solid #f3f3fe;
  text-transform: uppercase;
  transition-timing-function: ease-in-out;
  transition: background 0.5s;
}

.main-button:hover {
  background: #f3f3fe;
  color: #FE79F3;
}

.secondary-button {
  border-radius: 6.5em;
  background: transparent;
  display: inline-block;
  padding: 1em 1.5em;
  color: #DBF4FE;
  font-weight: bold;
  text-decoration: none;
  border: 3px solid #DBF4FE;
  text-transform: uppercase;
  transition-timing-function: ease-in-out;
  transition: background 0.5s;
}

.secondary-button:hover {
  background: #DBF4FE;
  color: #C9A1F2;
}

#main-nav {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 1em 0;
  position: absolute;
  top: 0;
}
@media screen and (max-width: 768px) {
  #main-nav {
    display: none;
  }
}
#main-nav .max-width {
  justify-content: space-between;
  align-items: center;
}

#main-nav.homepage {
  margin-top: 3em;
}

#main-nav.portfolio-page ul li a {
  background: linear-gradient(90deg, rgb(201, 161, 242) 0%, rgb(245, 142, 199) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 1.3125em;
  letter-spacing: 0.125em;
}
#main-nav.portfolio-page .nav-logo {
  background: url("../images/kl-logo-color.svg");
}

#main-nav ul {
  display: flex;
  align-items: center;
  align-content: flex-start;
  gap: 2.5em;
  margin: 0;
  padding: 0;
}

#main-nav ul li a {
  font-weight: normal;
  color: #f3f3fe;
  text-decoration: none;
  display: inline-block;
  position: relative;
  font-size: 1.3125em;
  letter-spacing: 0.125em;
}

#main-nav ul li a:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #FE79F3;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

#main-nav ul li a:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.nav-logo {
  height: 48px;
  width: 48px;
  display: inline-block;
  background: url("../images/kl-logo-white.svg");
  background-size: 100%;
}

#main-nav.scrolled {
  background-color: #000 !important;
  transition: background-color 200ms linear;
  position: fixed !important;
  z-index: 9999;
  margin-top: 0;
  -webkit-box-shadow: 0px 7px 15px -4px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 7px 15px -4px rgba(0, 0, 0, 0.15);
}
#main-nav.scrolled .nav-logo {
  background: url("../images/kl-logo-pink.svg");
}
#main-nav.scrolled ul li a {
  color: #FE79F3;
}

footer {
  background: #000000;
  color: #fff;
  margin: 0;
  padding: 1em;
  font-size: 0.875em;
  text-align: center;
}
footer p {
  margin: 0;
  padding: 0;
}

/* Style the navigation menu */
.mobile-nav {
  overflow: hidden;
  background: #000000;
  color: #FE79F3;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9999;
  border-bottom: 2px solid #FE79F3;
}
@media screen and (min-width: 769px) {
  .mobile-nav {
    display: none;
  }
}
.mobile-nav .logo-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1em;
}
.mobile-nav a.icon .fa {
  font-size: 2em !important;
  color: #f3f3fe;
}
.mobile-nav a.icon .fa:hover {
  color: #FE79F3;
}
.mobile-nav #myLinks {
  display: none;
}
.mobile-nav a.page-link {
  color: #FE79F3;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 1.25em;
  display: block;
  background: #000000;
  text-transform: uppercase;
  letter-spacing: 0.125em;
}
.mobile-nav a.page-link:hover {
  background: #FE79F3;
  color: #000000;
}

/* Style the active link (or home/logo) */
.active {
  background-color: #FE79F3;
  color: #000000;
}

#home {
  background-color: #000000;
  color: #f3f3fe;
}
#home .title {
  max-width: 100%;
}

#home-header, #home-resume, #home-contact {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 6em 0;
  margin: 0;
}

#home-header {
  background: none;
  background-image: url("../images/top-bg.png");
  background-size: 100%;
  background-position: top;
  background-repeat: no-repeat;
  padding-top: 12em;
  color: #f3f3fe;
}
@media screen and (max-width: 768px) {
  #home-header {
    padding-top: 10em;
  }
}
#home-header .max-width {
  align-items: center;
  justify-content: space-around;
}
#home-header .max-width .width-50:first-child {
  position: relative;
}
@media screen and (max-width: 768px) {
  #home-header .max-width .width-50:first-child {
    margin-bottom: 1em;
    padding: 0 6em;
  }
}
@media screen and (max-width: 500px) {
  #home-header .max-width .width-50:first-child {
    padding: 0 3em;
  }
}
#home-header img.bottom-star {
  position: absolute;
  left: 12%;
  top: 70%;
  animation: Rotate 10s linear infinite;
  height: 35%;
  width: auto;
}
@media screen and (max-width: 1024px) {
  #home-header img.bottom-star {
    left: 27%;
    top: 74%;
  }
}
#home-header img.top-left-star {
  position: absolute;
  left: 12%;
  top: 11%;
  animation: Rotate 15s linear infinite;
  height: 18%;
  width: auto;
}
@media screen and (max-width: 1024px) {
  #home-header img.top-left-star {
    left: 20%;
  }
}
#home-header img.top-right-star {
  position: absolute;
  left: 83%;
  top: -5%;
  animation: Rotate 20s linear infinite;
  height: 3em;
  width: auto;
  height: 8%;
  width: auto;
}
@media screen and (max-width: 1024px) {
  #home-header img.top-right-star {
    left: 73%;
    top: -8%;
  }
}
#home-header img.kate-portrait {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

@keyframes Rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(800deg);
  } /**change to a higher value for more seamless loop*/
}
#home-header img.fuzz {
  max-height: initial;
  position: absolute;
  mix-blend-mode: screen;
  height: 80%;
  width: auto;
  top: 17em;
  left: -25%;
}

#home-header h1 {
  color: #DBF4FE;
}

#home-header p {
  font-size: 2.25em;
  letter-spacing: 0.25em;
  color: #f3f3fe;
}

#home-portfolio {
  text-align: center;
  padding-top: 6em;
  justify-content: center;
}
#home-portfolio .title {
  display: block;
}
#home-portfolio .title, #home-portfolio .main-button {
  margin: 0 auto 3em;
}

#home-contact {
  background: url("../images/decorative-lines-bottom-left.png") no-repeat bottom left;
  background-size: 100%;
  flex-wrap: wrap;
  width: 100%;
  display: flex;
  padding: 6em 0 0;
  margin: 0;
}
#home-contact .width-50 {
  display: flex;
  justify-content: flex-start;
}
#home-contact .width-50 .contact-info {
  display: flex;
  flex-direction: column;
  gap: 1.5em;
}
#home-contact .width-50 .contact-info b {
  color: #FE79F3;
}
#home-contact .footer {
  width: 100%;
  text-align: center;
  padding-top: 18em;
}

#home-resume {
  position: relative;
}
#home-resume p.large {
  margin-bottom: 2em;
}
#home-resume .title {
  color: #FE79F3;
}
#home-resume .decorative-lines {
  position: absolute;
  right: 0;
  top: -3em;
  z-index: -9999;
  height: 50%;
  width: auto;
}
@media screen and (max-width: 1024px) {
  #home-resume .decorative-lines {
    height: 40%;
  }
}
@media screen and (max-width: 768px) {
  #home-resume .decorative-lines {
    height: 25%;
  }
}
@media screen and (max-width: 500px) {
  #home-resume .decorative-lines {
    height: 10%;
    top: -4em;
  }
}

.resume-download {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 2em;
}
.resume-download a {
  margin-bottom: 1em;
}

.slider-container {
  width: 100%;
  display: flex;
  align-items: stretch;
  justify-content: space-around;
  gap: 3%;
  margin: 2em 0;
}
@media screen and (max-width: 768px) {
  .slider-container {
    flex-wrap: wrap;
    justify-content: space-between;
  }
}
.slider-container a {
  text-decoration: none;
  color: #f3f3fe;
}
.slider-container h3 {
  margin-top: 0.5em;
  text-transform: uppercase;
}
.slider-container .thumbnail-block {
  width: 30%;
  height: auto;
  opacity: 0.7;
  scale: 0.95;
  transition: opacity ease 0.25s;
  transition: scale ease 0.25s;
}
@media screen and (max-width: 768px) {
  .slider-container .thumbnail-block {
    width: 44%;
  }
}
@media screen and (max-width: 500px) {
  .slider-container .thumbnail-block {
    width: 100%;
  }
}
.slider-container .thumbnail-block:hover {
  opacity: 1;
  scale: 1;
}
.slider-container .thumbnail {
  max-width: 100%;
  height: auto;
  border: 3px solid #FE79F3;
}

#portfolio {
  background: #000000;
  color: #f3f3fe;
}

#portfolio-container {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 12em 0 6em;
  margin: 0;
}
#portfolio-container .max-width {
  align-items: flex-start;
  justify-content: center;
  gap: 3%;
}
#portfolio-container .max-width .width-25 {
  width: 22%;
}
@media screen and (max-width: 768px) {
  #portfolio-container .max-width .width-25 {
    width: 100%;
  }
}
#portfolio-container .max-width .width-75 {
  width: 72%;
}
@media screen and (max-width: 768px) {
  #portfolio-container .max-width .width-75 {
    width: 100%;
  }
}
#portfolio-container h2 {
  color: #FFC5A5;
}
#portfolio-container img {
  max-width: 100%;
  height: auto;
}
#portfolio-container video {
  max-width: 100%;
  height: auto;
}

.portfolio-nav ul {
  margin: 0;
  padding: 0;
}
@media screen and (max-width: 768px) {
  .portfolio-nav ul {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 2em;
    margin-bottom: 2em;
    border-bottom: 1px solid #f3f3fe;
  }
}
.portfolio-nav ul li {
  margin: 2em 0;
  padding: 0;
  list-style-type: none;
  letter-spacing: 0.125em;
}
@media screen and (max-width: 768px) {
  .portfolio-nav ul li {
    margin: 0.5em 1em 0.5em 0;
  }
}
.portfolio-nav ul li a {
  color: #f3f3fe;
  text-decoration: none;
  font-weight: normal;
}
.portfolio-nav ul li a:hover, .portfolio-nav ul li a:active {
  color: #FE79F3;
}
.portfolio-nav ul li a.selected {
  font-weight: bold;
  color: #FE79F3;
}

.portfolio-title {
  margin-bottom: 2em;
}

.portfolio-column {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-start;
  row-gap: 4em;
}
.portfolio-column h4 {
  margin-bottom: 1em;
}

.portfolio-tiles {
  max-width: 100%;
  display: flex;
  align-items: stretch;
  justify-content: space-around;
  margin: 2em 0;
  flex-wrap: wrap;
  gap: 1em 1%;
}
.portfolio-tiles a {
  text-decoration: none;
  color: #DBF4FE;
}
.portfolio-tiles h3 {
  font-size: 2em;
  margin-bottom: 0.75em;
}
.portfolio-tiles p.large {
  font-size: 1.25em;
}
.portfolio-tiles .item {
  width: 32%;
  height: 350px;
  display: flex;
  background: #C9A1F2;
  align-items: center;
  align-content: center;
  flex-direction: column;
  justify-content: center;
  color: #DBF4FE;
  background-size: cover;
  opacity: 0.8;
  transition: opacity 0.5s;
  text-align: center;
}
.portfolio-tiles .item:hover {
  opacity: 1;
}
.portfolio-tiles .item.neutron {
  background: url("../images/n4-thumbnail.jpg");
  background-size: cover;
}
.portfolio-tiles .item.bv {
  background: url("../images/bv-thumbnail.jpg");
  background-size: cover;
}
.portfolio-tiles .item.ws {
  background: url("../images/ws-thumbnail.jpg");
  background-size: cover;
}
.portfolio-tiles .item.product-messaging {
  background: url("../images/ipm-thumbnail.jpg");
  background-size: cover;
}
.portfolio-tiles .item.ws-pricing {
  background: url("../images/pricing-thumbnail.jpg");
  background-size: cover;
}
.portfolio-tiles .item.tlx {
  background: url("../images/telelectrix-thumbnail.jpg");
  background-size: cover;
}

.max-width {
  width: 100%;
  max-width: 1440px;
  display: flex;
  align-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  column-gap: 6%;
  row-gap: 1.5em;
}

body {
  background: #000000;
  color: #f3f3fe;
}

.width-33 {
  width: 27%;
}
@media screen and (max-width: 768px) {
  .width-33 {
    width: 44%;
  }
}
@media screen and (max-width: 500px) {
  .width-33 {
    width: 100%;
  }
}

.width-25 {
  width: 25%;
}
@media screen and (max-width: 768px) {
  .width-25 {
    width: 44%;
  }
}
@media screen and (max-width: 500px) {
  .width-25 {
    width: 100%;
  }
}

.width-50 {
  width: 44%;
}
@media screen and (max-width: 768px) {
  .width-50 {
    width: 100%;
  }
}

.width-66 {
  width: 66%;
}
@media screen and (max-width: 768px) {
  .width-66 {
    width: 100%;
  }
}

.width-75 {
  width: 75%;
}
@media screen and (max-width: 768px) {
  .width-75 {
    width: 100%;
  }
}

.width-100 {
  width: 100%;
}

@media (max-width: 1440px) {
  .max-width {
    max-width: 90%;
  }
}

/*# sourceMappingURL=main.css.map */
