@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,400;0,700;1,400&display=swap");
body {
  font-family: "Red Hat Display", Helvetica, Arial, sans-serif;
  font-weight: normal;
  color: #545454;
  -webkit-font-smoothing: antialiased;
}

h1, h2, h3, h4, h5 {
  font-family: "Shrikhand", sans-serif;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 7.5em;
  line-height: 1em;
}

h2 {
  font-size: 6em;
  line-height: 1em;
}

h4 {
  font-size: 1.5em;
  line-height: 1em;
  margin-bottom: 0.25em;
}

p {
  font-family: "Red Hat Display", sans-serif;
  font-size: 1em;
  margin: 0 0 1em 0;
  padding: 0;
}

p.large {
  font-size: 1.75em;
}

.main-button {
  border-radius: 6.5em;
  background: #DBF4FE;
  display: inline-block;
  padding: 1.5em 2em;
  color: #C9A1F2;
  font-weight: bold;
  text-decoration: none;
  border: 3px solid #DBF4FE;
  text-transform: uppercase;
  transition-timing-function: ease-in-out;
  transition: background 0.5s;
}

.main-button:hover {
  background: transparent;
  color: #DBF4FE;
}

#main-nav {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 1em 0;
  position: absolute;
  top: 0;
}
#main-nav .max-width {
  justify-content: space-between;
  align-items: center;
}

#main-nav ul {
  display: flex;
  align-items: center;
  align-content: flex-start;
  gap: 2em;
  margin: 0;
  padding: 0;
}

#main-nav ul li a {
  font-weight: bold;
  color: #ffffff;
  text-decoration: none;
  display: inline-block;
  position: relative;
}

#main-nav ul li a:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #DBF4FE;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

#main-nav ul li a:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.nav-logo {
  height: 48px;
  width: 48px;
  display: inline-block;
  background: url("../images/kl-logo.svg");
  background-size: 100%;
}

#main-nav.scrolled {
  background-color: #fff !important;
  transition: background-color 200ms linear;
  position: fixed !important;
  -webkit-box-shadow: 0px 7px 15px -4px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 7px 15px -4px rgba(0, 0, 0, 0.15);
}
#main-nav.scrolled .nav-logo {
  background: url("../images/kl-logo-color.svg");
}
#main-nav.scrolled ul li a {
  background: linear-gradient(90deg, rgb(201, 161, 242) 0%, rgb(245, 142, 199) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

footer {
  background: #545454;
  color: #fff;
  margin: 0;
  padding: 1em;
  font-size: 0.875em;
  text-align: center;
}
footer p {
  margin: 0;
  padding: 0;
}

#home-header, #home-portfolio, #home-resume, #home-contact {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 6em 0;
  margin: 0;
}

#home-header {
  background: rgb(255, 197, 165);
  background: linear-gradient(180deg, rgb(255, 197, 165) 0%, rgb(245, 142, 199) 35%, rgb(201, 161, 242) 100%);
  padding-top: 8em;
}
#home-header .max-width {
  align-items: center;
  justify-content: space-around;
}

#home-header img {
  max-height: 48em;
  width: auto;
}

#home-header h1 {
  color: #DBF4FE;
}

#home-header p {
  font-size: 2.5em;
}

#home-portfolio, #home-contact {
  background: #DBF4FE;
}
#home-portfolio h2, #home-contact h2 {
  color: #C9A1F2;
}
#home-portfolio .max-width, #home-contact .max-width {
  justify-content: center;
}

#home-portfolio .max-width {
  flex-direction: column;
  text-align: center;
  align-items: center;
}

#home-contact .max-width {
  justify-content: center;
  align-items: center;
}
#home-contact .width-33 {
  display: flex;
  justify-content: center;
}
#home-contact .width-66 {
  display: flex;
  justify-content: center;
}
#home-contact .width-66 .contact-info {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

#home-resume {
  background: #C9A1F2;
}
#home-resume h2 {
  color: #DBF4FE;
  margin-bottom: 0.25em;
}
#home-resume p.large {
  margin-bottom: 2em;
}

.resume-download {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  gap: 2em;
}
.resume-download a {
  margin-bottom: 1em;
}

.max-width {
  width: 100%;
  max-width: 1440px;
  display: flex;
  align-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  column-gap: 6%;
  row-gap: 1.5em;
}

.width-33 {
  width: 27%;
}

.width-25 {
  width: 25%;
}

.width-50 {
  width: 44%;
}

.width-66 {
  width: 66%;
}

.width-75 {
  width: 75%;
}

.width-100 {
  width: 100%;
}

/*# sourceMappingURL=main.css.map */
