/**
 * Parallax Scrolling Tutorial
 * For NetTuts+
 *  
 * Author: Mohiuddin Parekh
 *	http://www.mohi.me
 * 	@mohiuddinparekh   
 */

@font-face {
    font-family: Aleo;
    src: local('Aleo'), url('../fonts/Aleo_Regular.otf') format('opentype');
}

body{
	margin:0;
	padding:0;
}

#header {
	display:block;
	float: left;
	width: 100%;
	height: 90px;
	text-align: center;
	background: #fff;
	position: absolute;
	z-index: 1000;
	box-shadow: 0 0 50px rgba(0,0,0,0.6);
}

#parallaxcontainer {
display: block;
position: relative;
float: left;
width: 100%;
z-index: 100;
}

#header #logo {
	padding-top:5px;
	margin: auto;
}

#home { 
	background: url(../images/home.jpg) no-repeat center center fixed; 
	 -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
	background-color: #d2d2d0;
	height: 570px; 
	margin: 0 auto; 
    width: 100%; 
    max-width: 1920px; 
    position: relative; 
    box-shadow: 0 0 50px rgba(0,0,0,0.8);
}
#portfolio { 
	background: #fff; 
	height: 690px;
	margin: 0 auto; 
    width: 100%; 
    max-width: 1920px; 
    position: relative; 
    box-shadow: 0 0 50px rgba(0,0,0,0.8);
}

#resume {
	background: url(../images/resume.jpg) no-repeat center center fixed; 
	 -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
	height: 700px;
	margin: 0 auto; 
    width: 100%; 
    max-width: 1920px; 
    position: relative; 
    box-shadow: 0 0 50px rgba(0,0,0,0.8);
}

#footer {
	background: url(../images/pinkbg.png) repeat-x;
	background-color: transparent;
	height: 143px;
    width: 100%; 
	float: left;
	position: relative;
	z-index: 5000;
	display: block;
	margin-top: -10px;
	}
#contactme {
margin: auto;
margin-top:10px;
text-align: center;
font-family: Aleo, serif;
color: #fff;
font-size: 90px;
}

#contactme img {
padding-bottom: 13px;
padding-left: 10px;
}
/* Introduction */

#home article { 
position: absolute; 
font-family: Aleo;
top: 200px;
left: 105px;
font-size: 90px; 
color: #fff;
}

#extra {
display: none;
}

#home article p {
position: absolute;
font-size: 24px;
width: 435px;
top: 110px;
font-family: 'Open Sans Condensed', sans-serif;
font-weight: 100;
color: #3e3e3e;
}

/* #about article { 
background: url("../images/parallax.png") no-repeat scroll center top transparent; 
height: 458px; 
position: absolute; 
text-indent: -9999px; 
top: 291px; 
} */


#portcontent{
	width: 1100px;			/* Set to slidorion width. Is equal to #slider + #accordion width */
	height: 690px;			/* Set to slidorion height. Is equal to #slider and #accordion height */
	position: relative;
}

.diamondcontainer {
margin-top: 0px;
margin-left: -200px;
height: 690px;
width: 950px;
float:left;
}

#externalNav {
font-family: 'Open Sans Condensed', sans-serif;
font-size: 20px;
float: left;
text-align: right;
font-size: 36px;
margin-top: 200px;
margin-left: 70px;
}

#externalNav .headline {
font-family: Aleo, serif;
font-size: 90px;
color: #4c4c4c;
}

#externalNav a {
color: #ff005c;
text-decoration: none;
}

#externalNav a:hover {
color: #ff619a; !important
}

#resumetop {
font-family: Aleo, serif;
font-size: 90px;
color: #fff;
padding-top: 70px;
padding-left: 100px;
}

#resumetop img {
margin-top: 10px;
}

#resumecontainer {
padding-left: 100px;
}

#resumecontainer h2 {
font-family: Aleo, serif;
font-size: 36px;
color: #ff005c;
font-weight: normal;
}

#resumecontainer h3 {
font-family: 'Open Sans Condensed', sans-serif;
font-size: 30px;
color: #fff;
font-weight: normal;
}

#resumecontainer h4 {
font-family: 'Open Sans Condensed', sans-serif;
font-size: 24px;
color: #fff;
font-weight: normal;
}

#resumecontainer p {
font-family: 'Open Sans Condensed', sans-serif;
font-size: 18px;
line-height: 140%;
color: #fff;
font-weight: normal;
padding-top: 10px;
}

#resumeleft {
float: left;
width: 355px;
}

#resumeright {
float: left;
width: 355px;
padding-left: 100px;
}

#skills {
font-family: 'Open Sans Condensed', sans-serif;
font-size: 30px;
color: #fff;
font-weight: normal;
}

#skillsleft {
float:left;
width: 115px;
}

#skillsright {
float:left;
width: 115px;
padding-left: 40px;
}

/*.portdiamonds {
margin-top: 0px;
margin-left: -200px;
height: 690px;
}*/

.diamond {
	background: #fff;
	@include box-shadow(0 0 0 1px #ccc);
	color: #000;
	display: inline-block;
	height: 215px;
	text-decoration: none;
	width: 215px;
 	transform:rotate(45deg);
	-ms-transform:rotate(45deg); /* IE 9 */
	-webkit-transform:rotate(45deg); /* Safari and Chrome */
	-moz-transform:rotate(45deg); /* Safari and Chrome */
	margin-right: 85px;
	vertical-align: center;
	background-color: #d2d2d0;
	overflow: hidden;
}

 .diamond:nth-child(5n+4) {
	margin-left: 152px;
}

diamond:nth-child(5n+0)  {
margin-left: 0px;
}
 .diamond:nth-child(n+3) {
	margin-top: -67px;
}

.diamond:nth-child(4n) {
background-color: #ababab;
}

.diamond:nth-child(5n) {
background-color: #ebebeb;
}
.diamond:nth-child(9n) {
background-color: #ebebeb;
}

.diamond img {
    filter: url(filters.svg#grayscale); /* Firefox 3.5+ */
    filter: gray; /* IE6-9 */
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); 
    -webkit-filter: grayscale(1); /* Google Chrome & Safari 6+ */
    margin-top: -67px;
    transform:rotate(-45deg);
	-ms-transform:rotate(-45deg); /* IE 9 */
	-webkit-transform:rotate(-45deg); /* Safari and Chrome */
	-moz-transform:rotate(-45deg); /* Safari and Chrome */
	margin-left: -45px;
	margin-top: -45px;
	opacity:0.6;
filter:alpha(opacity=60); /* For IE8 and earlier */
}

.diamond img:hover {
	opacity:1;
    filter: none;
    -webkit-filter: grayscale(0);
}