.main-button {
	background: transparent;
	font-size: 1.3125em;
	display: inline-block;
	padding: 1.25em 2.25em;
	color: $white;
	font-weight: bold;
	text-decoration: none;	
	border: 3px solid $white;
	text-transform: uppercase;
	transition-timing-function: ease-in-out;
	transition: background .5s;
}

.main-button:hover {
	background: $white;
	color: $pink;
}

.secondary-button {
	border-radius: 6.5em;
	background: transparent;
	display: inline-block;
	padding: 1em 1.5em;
	color: $blue;
	font-weight: bold;
	text-decoration: none;	
	border: 3px solid $blue;
	text-transform: uppercase;
	transition-timing-function: ease-in-out;
	transition: background .5s;
}

.secondary-button:hover {
	background: $blue;
	color: $purple;
}