#home {
	background-color: #000000;
	color: $white;

	.title {
		max-width: 100%;
	}
}

#home-header, #home-resume, #home-contact {
	width: 100%;
	display: flex;
	justify-content: center;
	padding: 6em 0;
	margin: 0;
}

#home-header {
	background: none;
	background-image: url('../images/top-bg.png');
	background-size: 100%;
	background-position: top;
	background-repeat: no-repeat;
	padding-top: 12em;
	color: $white;

	@media screen and (max-width: 768px) {
		padding-top: 10em;
	}

	.max-width {
		align-items: center;
		justify-content: space-around;

		.width-50:first-child {
			position: relative;

			@media screen and (max-width: 768px) {
				margin-bottom: 1em;
				padding: 0 6em;
			}

			@media screen and (max-width: 500px) {
				padding: 0 3em;
			}
		}
	}

	img.bottom-star {
		position: absolute;
		left: 12%;
		top: 70%;
		animation: Rotate 10s linear infinite;
		height: 35%;
		width: auto;

		@media screen and (max-width: 1024px) {
			left: 27%;
			top: 74%;
		}
	}

	img.top-left-star {
		position: absolute;
		left: 12%;
		top: 11%;	
		animation: Rotate 15s linear infinite;			
		height: 18%;
		width: auto;

		@media screen and (max-width: 1024px) {
			left: 20%;
		}
	}

	img.top-right-star {
		position: absolute;
		left: 83%;
		top: -5%;	
		animation: Rotate 20s linear infinite;	
		height: 3em;
		width: auto;
		height: 8%;
		width: auto;

		@media screen and (max-width: 1024px) {
			left: 73%;
			top: -8%;		
		}
	}

	img.kate-portrait {
		width: 100%;
		height: 100%;
		object-fit: contain;
	}
}


@keyframes Rotate
{from { transform: rotate(0deg) }
 to { transform: rotate(800deg) }  /**change to a higher value for more seamless loop*/
}


#home-header img.fuzz {
	max-height: initial;
	position: absolute;	
	mix-blend-mode: screen;
	height: 80%;
	width: auto;
	top: 17em;
	left: -25%;
}

#home-header h1 {
	color: $blue;
}

#home-header p {
	font-size: 2.25em;
	letter-spacing: .25em;
	color: $white;
}

#home-portfolio {
	text-align: center;
	padding-top: 6em;
	justify-content: center;

	.title {
		display: block;
	}

	.title, .main-button {
		margin: 0 auto 3em;
	}

}

#home-contact {

	background: url('../images/decorative-lines-bottom-left.png') no-repeat bottom left;
	background-size: 100%;
	flex-wrap: wrap;
	width: 100%;
	display: flex;
	padding: 6em 0 0;
	margin: 0;


	.width-50 {
		display: flex;
		justify-content: flex-start;

		.contact-info {
			display: flex;
			flex-direction: column;
			gap: 1.5em;

			b {
				color: $pink;
			}
		}
	}

	.footer {
		width: 100%;
		text-align: center;
		padding-top: 18em;
	}
}

#home-resume {

	position: relative;

	p.large {
		margin-bottom: 2em;
	}

	.title {
		color: $pink;
	}

	.decorative-lines {
		position: absolute;
		right: 0;
		top: -3em;
		z-index: -9999;
		height: 50%;
		width: auto;

		@media screen and (max-width: 1024px) {
			height: 40%;
		}

		@media screen and (max-width: 768px) {
			height: 25%;
		}

		@media screen and (max-width: 500px) {
			height: 10%;
			top: -4em;
		}
	}
}


.resume-download {
	display: flex;
	flex-wrap: nowrap;
	align-items: center;
	gap: 2em;

	a {
		margin-bottom: 1em;
	}
}

.slider-container {
	width: 100%;
	display: flex;
	align-items: stretch;
	justify-content: space-around;
	gap: 3%;
	margin: 2em 0;

	@media screen and (max-width: 768px) {
		flex-wrap: wrap;
		justify-content: space-between;
	}

	a {
		text-decoration: none;
		color: $white;
	}

	h3 {
		margin-top: .5em;
		text-transform: uppercase;
	}

	.thumbnail-block{
		width: 30%;
		height: auto;
		opacity: .7;
		scale: .95;
		transition: opacity ease .25s;		
		transition: scale ease .25s;

		@media screen and (max-width: 768px) {
			width: 44%;
		}

		@media screen and (max-width: 500px) {
			width: 100%;
		}
	}

	.thumbnail-block:hover {
		opacity: 1;
		scale: 1;
	}

	.thumbnail {
		max-width: 100%;
		height: auto;
		border: 3px solid $pink;
	}

}
