@import 'colors';
@import 'fonts';
@import 'buttons';
@import 'nav';
@import 'home';
@import 'portfolio';

$breakpoint-desktop: 1440px;

.max-width {
	width: 100%;
	max-width: $breakpoint-desktop;
	display: flex;
	align-content: center;
	align-items: flex-start;
	flex-wrap: wrap;
	column-gap: 6%;
	row-gap: 1.5em;
}

body {
	background: $black;
	color: $white;
}

.width-33 {
	width: 27%;

	@media screen and (max-width: 768px) {
		width: 44%;
	}

	@media screen and (max-width: 390px) {
		width: 100%;
	}
}

.width-25 {
	width: 25%;

	@media screen and (max-width: 768px) {
		width: 44%;
	}

	@media screen and (max-width: 390px) {
		width: 100%;
	}
}

.width-50 {
	width: 44%;

	@media screen and (max-width: 768px) {
		width: 100%;
	}
}

.width-66 {
	width: 66%;

	@media screen and (max-width: 768px) {
		width: 100%;
	}
}

.width-75 {
	width: 75%;

	@media screen and (max-width: 768px) {
		width: 100%;
	}
}

.width-100 {
	width: 100%;
}

//Mobile styles//

@media (max-width: $breakpoint-desktop) {
	.max-width {
		max-width: 90%;
	}
}

