#main-nav {
	width: 100%;
	display: flex;
	justify-content: center;
	padding: 1em 0;
	position: absolute;
	top: 0;

	@media screen and (max-width: 768px) {
		display: none;
	}

	.max-width {
		justify-content: space-between;
		align-items: center;;
	}
}

#main-nav.homepage {
	margin-top: 3em;
}

#main-nav.portfolio-page {
	ul {
		li {
			a {
				background: linear-gradient(90deg, rgba(201,161,242,1) 0%, rgba(245,142,199,1) 100%);
  			-webkit-background-clip: text;
  			-webkit-text-fill-color: transparent;
  			font-size: 1.3125em;
  			letter-spacing: 0.125em;
				}
			}
		}

		.nav-logo {
			background: url('../images/kl-logo-color.svg');
		}
	}


#main-nav ul {
	display: flex;
	align-items: center;
	align-content: flex-start;
	gap: 2.5em;
	margin: 0;
	padding: 0;
}

#main-nav ul li a {
	font-weight: normal;
	color: $white;
	text-decoration: none;
	display: inline-block;
	position: relative;
  font-size: 1.3125em;
  letter-spacing: 0.125em;
}

#main-nav ul li a:after {
		content: '';
  	position: absolute;
  	width: 100%;
  	transform: scaleX(0);
  	height: 2px;
  	bottom: 0;
  	left: 0;
  	background-color: $pink;
  	transform-origin: bottom right;
  	transition: transform 0.25s ease-out;
}

#main-nav ul li a:hover:after {
		 transform: scaleX(1);
  	transform-origin: bottom left;
}

.nav-logo {
	height: 48px;
	width: 48px;
	display: inline-block;
	background: url('../images/kl-logo-white.svg');
	background-size: 100%;
}

#main-nav.scrolled {
  background-color: #000 !important;
  transition: background-color 200ms linear;
  position: fixed !important;
  z-index: 9999;
  margin-top: 0;
  -webkit-box-shadow: 0px 7px 15px -4px rgba(0,0,0,0.15); 
	box-shadow: 0px 7px 15px -4px rgba(0,0,0,0.15);

	.nav-logo {
		background: url('../images/kl-logo-pink.svg');
	}

	ul {
		li {
			a {
				color: $pink;
			}
		}
	}
}

footer {
	background: $black;
	color: #fff;
	margin: 0;
	padding: 1em;
	font-size: .875em;
	text-align: center;

	p {
		margin: 0;
		padding: 0;
	}
}

// Mobile

/* Style the navigation menu */
.mobile-nav {
  overflow: hidden;
  background: $black;
  color: $pink;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9999;
  border-bottom: 2px solid $pink;

  @media screen and (min-width: 769px) {
  	display: none;
  }

  .logo-bar {
  	display: flex;
  	align-items: center;
  	justify-content: space-between;
  	padding: 1em;
  }

  a.icon {
  	.fa {
  		font-size: 2em !important;
  		color: $white;

  		&:hover {
  			color: $pink;
  		}
  	}
  }

  #myLinks {
	  display: none;
	}

	a.page-link {
	  color: $pink;
	  padding: 14px 16px;
	  text-decoration: none;
	  font-size: 1.25em;
	  display: block;
	  background: $black;
	  text-transform: uppercase;
	  letter-spacing: .125em;

	  &:hover {
	  	background: $pink;
	  	color: $black;
	  }
	}
}

/* Style the active link (or home/logo) */
.active {
  background-color: $pink;
  color: $black;
}
