#portfolio {
	background: $black;
	color: $white;
}

#portfolio-container {
	width: 100%;
	display: flex;
	justify-content: center;
	padding: 12em 0 6em;
	margin: 0;

	.max-width {
		align-items: flex-start;
		justify-content: center;
		gap: 3%;

		.width-25 {
			width: 22%;

			@media screen and (max-width: 768px) {
				width: 100%;
			}
		}

		.width-75 {
			width: 72%;

			@media screen and (max-width: 768px) {
				width: 100%;
			}
		}
	}

	h2 {
		color: $orange;
	}

	img {
		max-width: 100%;
		height: auto;
	}

	video {
		max-width: 100%;
		height: auto;
	}
}

.portfolio-nav {
	
	ul {
		margin: 0;
		padding: 0;			

		@media screen and (max-width: 768px) {
			display: flex;
			flex-wrap: wrap;
			padding-bottom: 2em;
			margin-bottom: 2em;
			border-bottom: 1px solid $white;
		}

		li {
			margin: 2em 0;
			padding: 0;
			list-style-type: none;
			letter-spacing: .125em;

			@media screen and (max-width: 768px) {
				margin: .5em 1em .5em 0;
			}

			a {
				color: $white;
				text-decoration: none;
				font-weight: normal;

				&:hover, &:active {
					color: $pink;
				}
			}

			a.selected {
				font-weight: bold;
				color: $pink;
			}
		}
	}
}

.portfolio-title {
	margin-bottom: 2em;
}

.portfolio-column {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	align-items: flex-start;
	row-gap: 4em;

	h4 {
		margin-bottom: 1em;
	}
}

.portfolio-tiles {
	max-width: 100%;
	display: flex;
	align-items: stretch;
	justify-content: space-around;
	margin: 2em 0;
	flex-wrap: wrap;
	gap: 1em 1%;

	a {
		text-decoration: none;
		color: $blue;
	}

	h3 {
		font-size: 2em;
		margin-bottom: .75em;
	}

	p.large {
		font-size: 1.25em;
	}

	.item {
		width: 32%;
		height: 350px;
		display: flex;
		background: $purple;
		align-items: center;
		align-content: center;
		flex-direction: column;
		justify-content: center;
		color: $blue;
		background-size: cover;
		opacity: .8;
		transition: opacity .5s;
		text-align: center;
	}

	.item:hover {
		opacity: 1;
	}

	.item.neutron {
		background: url('../images/n4-thumbnail.jpg');
		background-size: cover;
	}

	.item.bv {
		background: url('../images/bv-thumbnail.jpg');
		background-size: cover;
	}

	.item.ws {
		background: url('../images/ws-thumbnail.jpg');
		background-size: cover;
	}

	.item.product-messaging {
		background: url('../images/ipm-thumbnail.jpg');
		background-size: cover;
	}

	.item.ws-pricing {
		background: url('../images/pricing-thumbnail.jpg');
		background-size: cover;
	}

	.item.tlx {
		background: url('../images/telelectrix-thumbnail.jpg');
		background-size: cover;
	}

}