#portfolio-container {
	width: 100%;
	display: flex;
	justify-content: center;
	padding: 8em 0 6em;
	margin: 0;

	.max-width {
		align-items: flex-start;
		justify-content: center;
		gap: 3%;

		.width-25 {
			width: 22%;
		}

		.width-75 {
			width: 72%;
		}
	}

	h2 {
		color: $orange;
	}

	img {
		max-width: 100%;
		height: auto;
	}

	video {
		max-width: 100%;
		height: auto;
	}
}

.portfolio-nav {
	
	ul {
		margin: 0;
		padding: 0;

		li {
			margin: 1em 0;
			padding: 0;
			list-style-type: none;
			text-transform: uppercase;

			a {
				color: $black;
				text-decoration: none;
				font-weight: normal;

				&:hover, &:active {
					color: #FFA16C;
				}
			}

			a.active {
				font-weight: bold;
				color: $orange;
			}
		}
	}
}

.portfolio-tiles {
	max-width: 100%;
	display: flex;
	align-items: stretch;
	justify-content: space-around;
	margin: 2em 0;
	flex-wrap: wrap;
	gap: 1em 1%;

	a {
		text-decoration: none;
		color: $blue;
	}

	h3 {
		font-size: 2em;
		margin-bottom: .75em;
	}

	p.large {
		font-size: 1.25em;
	}

	.item {
		width: 32%;
		height: 350px;
		display: flex;
		background: $purple;
		align-items: center;
		align-content: center;
		flex-direction: column;
		justify-content: center;
		color: $blue;
		background-size: cover;
		opacity: .8;
		transition: opacity .5s;
		text-align: center;
	}

	.item:hover {
		opacity: 1;
	}

	.item.neutron {
		background: url('../images/n4-thumbnail.jpg');
		background-size: cover;
	}

	.item.bv {
		background: url('../images/bv-thumbnail.jpg');
		background-size: cover;
	}

	.item.ws {
		background: url('../images/ws-thumbnail.jpg');
		background-size: cover;
	}

	.item.product-messaging {
		background: url('../images/ipm-thumbnail.jpg');
		background-size: cover;
	}

	.item.ws-pricing {
		background: url('../images/pricing-thumbnail.jpg');
		background-size: cover;
	}

	.item.tlx {
		background: url('../images/telelectrix-thumbnail.jpg');
		background-size: cover;
	}

}