@charset "UTF-8";
/* CSS Document */

* {
	margin: 0;
	padding: 0;
}

/* This formats the look of the basic elements on the page. Here you can change the background color,
font face, font color, font size, etc */

body {
	font-family: Lucida Grande, Lucida Sans Unicode, sans-serif;
	font-size: 12px;
	color: #262528;
	background-color: #ffffff;
}

#pagecontainerhome {
	width: 956px;
	margin: auto;
}

/*This is the background of the homepage. This container holds the background image and is a fixed height/width */

#pagewrapper {
	width: 956px;
	height: 775px;
	background-image: url(../images/home_bg.jpg);
	float: left;
}

/*This contains the header */

#headerhome {
	width: 956px;
	float: left;
}

/*This controls the position of the header image */

#headerhome img {
	float: right;
	margin-top: 35px;
}

/*contains the content */

#contenthome {
	width: 956px;
	margin-top: 250px;
	float: left;
}

/*contains the navigation buttons */

#homenav {
	float:left;
	width: 406px;
}

#contenthometext {
	float: right;
	width: 475px;
	padding-left: 25px;
	padding-right: 50px;
}

/*formats the heading text in the content */

#contenthometext h1 {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 48px;
	font-weight: bold;
	color: #ff704d;
	margin-bottom: 10px;
}

/*formats the paragraphs in the content */

#contenthometext p {
	line-height: 200%;
}

#footerhome {
	clear: both;
	text-align: right;
	width: 956px;
	padding-top: 10px;
	font-family: Georgia, "Times New Roman", Times, serif;
	color: #45454a;
}
.shop {
	margin-left: 80px;
	margin-top: 30px;
	position: absolute;
}

.shop a {
width:108px;
height:108px;
background:url(../images/button_shop.png)0 0;
display:block;
text-indent:-1500px;
overflow:hidden;
}
.shop a:hover { background-position: -108px 0;}

.about {
	margin-left: 100px;
	margin-top: 180px;
	position: absolute;
}

.about a {
width:126px;
height:125px;
background:url(../images/button_about.png)0 0;
display:block;
text-indent:-1500px;
overflow:hidden;
}
.about a:hover { background-position: -125px 0;}

.news {
	margin-left: 200px;
	margin-top: 5px;
	position: absolute;
}

.news a {
width:84px;
height:84px;
background:url(../images/button_news.png)0 0;
display:block;
text-indent:-1500px;
overflow:hidden;
}
.news a:hover { background-position: -84px 0;}

.customer {
	margin-left: 190px;
	margin-top: 120px;
	position: absolute;
}

.customer a {
width:108px;
height:108px;
background:url(../images/button_cs.png)0 0;
display:block;
text-indent:-1500px;
overflow:hidden;
}
.customer a:hover { background-position: -108px 0;}

.faq {
	margin-left: 260px;
	margin-top: 240px;
	position: absolute;
}

.faq a {
width:108px;
height:108px;
background:url(../images/button_faq.png)0 0;
display:block;
text-indent:-1500px;
overflow:hidden;
}
.faq a:hover { background-position: -108px 0;}

.contact {
	margin-left: 310px;
	margin-top: 70px;
	position: absolute;
}

.contact a {
width:101px;
height:100px;
background:url(../images/button_contact.png)0 0;
display:block;
text-indent:-1500px;
overflow:hidden;
}
.contact a:hover { background-position: -102px 0;}
