@charset "UTF-8";
/* CSS Document */

* {
	margin: 0;
	padding: 0;
}

/* This formats the look of the basic elements on the page. Here you can change the background color,
font face, font color, font size, etc */

body {
	font-family: Lucida Grande, Lucida Sans Unicode, sans-serif;
	font-size: 12px;
	color: #262528;
	background-color: #ffffff;
}
	

#maincontainer {
	width: 820px;
	margin-top: 30px;
	margin-right: auto;
	margin-bottom: 50px;
	margin-left: auto;
}

#header {
	width: 820px;
	float: left;
	height: 90px;
}

#header img {
	float: right;
	border: 0px;
}

#navbar {
	width: 820px;
	float: left;
	height: 30px;
}

#maincontentwood {
	width: 820px;
	float: left;
	background-image:url(../images/woodbg.jpg);
}

#maincontentpaper {
	width: 700px;
	margin: 20px;
	float: left;
	background-image: url(../images/paper.jpg);
	padding: 40px;
	-moz-box-shadow: inset 0 0 5px 5px #756556;
-webkit-box-shadow: inset 0 0 5px 5px#756556;
box-shadow: inset 0 0 5px 5px #756556;
}

img.yellowdress {
	float: right;
	border: 1px solid #a79d64;
	margin-left: 20px;
}

#maincontentpaper h1 {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 40px;
	font-weight: bold;
	color: #ff704d;
	margin-bottom: 25px;
}

#maincontentpaper h2 {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 20px;
	font-weight: bold;
	color: #a79d64;
	margin-bottom: 10px;
}

#maincontentpaper p {
	line-height: 170%;
	margin-bottom: 20px;
}

#maincontentpaper ul {
	margin-top: 20px;
	margin-left: 40px;
	line-height: 170%;
	margin-bottom: 20px;
}

#maincontentpaper blockquote {
	margin-left: 40px;
	font-style: italic;
	line-height: 170%;
}

#footer hr {
	color: #E1DABE;
	border-top-color: #E5DCBF;
	border-right-color: #E5DCBF;
	border-bottom-color: #E5DCBF;
	border-left-color: #E5DCBF;	
	margin-bottom: 15px;
}
#footer {
	width: 820px;
	clear: both;
	padding-top: 40px;
	font-family: Georgia, "Times New Roman", Times, serif;
	color: #45454a;
	line-height: 170%;
	padding-bottom: 40px;
}

.left {
float: left;
text-alight: left;
}

.right {
float: right;
text-align: right;
}

a:link {
	text-decoration: none;
	color: #ff704d;
}

a:hover {
	color: #fdd1b1;
}

a:visited {
	color: #a79d64;
}


a.selected {
	display: block;
	font-family: Georgia, "Times New Roman", Times, serif;
	background-image: url(../images/selected_tab.png);
	font-size: 14px;
	width: 135px;
	float: left;
	height: 30px;
	padding-top: 7px;
	text-align: center;
	color: #fff;
	font-weight: bold;
}

a.deselected {
	display: block;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 14px;
	width: auto;
	padding-left: 5px;
	padding-right: 5px;
	float: left;
	height: 30px;
	color: #929292;
	padding-top: 7px;
	text-align: center;
}

a.deselected:hover {
	color: #ff704d;
}
