*{
    margin:0;
    padding:0;
}  

@font-face {  
  font-family: "steelfish";  
  src: url( ../fonts/steelfish.eot ); /* IE */  
  src: local("steelfish"), url( ../fonts/steelfish.ttf) format("truetype"); /* non-IE */  
} 
	
body{
    background:#c8c1a4;
	background-image: url(../images/page_bg.gif);
	background-repeat: repeat;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-size: 14px;
    width:16000px;
    position:absolute;
    top:0px;
    left:0px;
    bottom:0px;
	overflow-x: hidden;
}

a {
	outline: 0;
	text-decoration: none;
	color: #FE2F7B;
}

object, embed {
  outline: 0;
}

.section{
    margin:0px;
    bottom:0px;
    width:4000px;
    float:left;
    height:100%;
}

.section p{
	margin-left: 110px;
    width:350px;
	padding-left: 30px;
	line-height: 165%;
	background-image: url(../images/paragraph_bg.jpg);
	background-attachment: left;
	background-repeat: repeat-y;
}

.footer {
clear: both;
margin-left: 35px;
}

.navbuttons {
	float:left;
	margin-top: 20px;
}

.footer img{
border: 0px;
}

.ArrowContent {
	margin-left: 500px;
	float: left;
}

.ArrowHome {
	margin-left: 260px;
	margin-top: 60px;
}

.ArrowButton {
	display: block;
	width: 233px;
	height: 100px;
	background: url('../images/arrow_nav.png') bottom;
	background-position: 233px 0;
}
.ArrowButton:hover {
	background-position: 0 0;
}

.FloatLeft {
float: left;
}

#containerone {
	padding-left:120px;
	padding-top: 130px;
	width: 1090px;
	height: 605px;
	background-image: url(../images/pageone_bg.jpg);
	background-position: top right;
	background-repeat: no-repeat;
}

#containertwo {
	padding-left:120px;
	padding-top: 130px;
	margin-bottom: 80px;
	width: 1250px;
	height: 520px;
}

#section2 {
	background-image: url(../images/port_bg.jpg);
	background-attachment: fixed;
	background-position: bottom right;
	background-repeat: no-repeat;
}

#containerthree {
	padding-left:120px;
	padding-top: 100px;
	width: 1090px;
	height: 700px;	
}

#section3 {
background-image:url(../images/contact_bg.jpg);
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: right bottom;	
}



#containerfour {
	padding-left:120px;
	padding-top: 130px;
	width: 1250px;
	height: 750px;
}

.heading {
	float: left;
	margin-bottom: 60px;
	line-height: 100%;

}

.content {
	clear: both;
}

.headingcontainer {
	float: left;
	margin-bottom: 40px;
}

.headingleft {
	float: left;
	font-family: "steelfish", helvetica, sans-serif;
	font-size: 75px;
	letter-spacing: 2px;
	color: #3b2d38;
	font-weight: normal;
	padding: 0px;
}

#section4 {
	background-image: url(../images/resume_bg.jpg);
	background-position: 100% bottom;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

#section4 .headingleft {
	float: left;
	font-family: "steelfish", helvetica, sans-serif;
	font-size: 75px;
	letter-spacing: 2px;
	color: #c8c1a4;
	font-weight: normal;
	padding: 0px;
}

#section4 .heading {
	clear: both;
	margin-bottom: 40px;
	margin-left: 42px;
	line-height: 100%;

}

#section4 p.resumetext {
	background-image: none;
	margin-left: 0px;
	padding-left: 0px;
	font-size: 12px;
	width: auto;
	margin-bottom: 10px;
}

#section4 p.pretendlist {
	background-image: none;
	margin-left: 40px;
	padding-left: 0px;
	font-size: 12px;
	width: auto;
	margin-bottom: 10px;
}

#section4 h3 {
	font-family: "steelfish", Helvetica, sans-serif;
	color: #ff197b;
	font-weight: normal;
	font-size: 18px;
	letter-spacing: .08em;
	margin-bottom: 10px;
}

#section4 em {
	font-style: normal;	
	color: #c5b927;
}


.resumeleft {
	float: left;
	width: 450px;
	margin-right: 60px;
	margin-left: 105px;
}

.resumeright {
	float: left;
	width: 480px;
}

.headingright {
	float: left;
	margin-top: 13px;
	margin-left: 10px;
}

.headingright p {
	margin-left: 0px;
}

.h2container {
	float:left;
}

.tan{
    color:#343434;   
    background:#c8c1a4;
	
}
.gray{
    color:#c8c1a4;
    background:#343434;
}

.section ul{
    list-style:none;
}

.tan h1 {
	font-family: "steelfish", helvetica, sans-serif;
	font-size: 75px;
	letter-spacing: 2px;
	color: #3b2d38;
	font-weight: normal;
	margin-bottom: 35px;
	padding: 0px;
}

.tan h2 {
	margin-right: 8px;
	padding: 0px;
	font-family: "steelfish", helvetica, sans-serif;
	font-size: 30px;
	color: #3b2d38;
	font-weight: normal;
	text-align: right;
}

b {
	color: #ff197b;
	font-weight: normal;
}
.tan ul li{
    float:left;
    padding:5px;
    margin:5px;
    color:#aaa;
}
.tan ul li a{
    display:block;
    color:#f0f0f0;
}
.tan ul li a:hover{
    text-decoration:none;
    color:#fff;
}

.gray h1 {
	font-family: "steelfish", helvetica, sans-serif;
	font-size: 75px;
	letter-spacing: 2px;
	color: #c8c1a4;
	font-weight: normal;
	margin-bottom: 35px;
	padding: 0px;
}

.gray h2 {
	margin-right: 8px;
	padding: 0px;
	font-family: "steelfish", helvetica, sans-serif;
	font-size: 30px;
	color: #c8c1a4;
	font-weight: normal;
	text-align: right;
}

.gray ul li{
    float:left;
    padding:5px;
    margin:5px;
    color:#aaa;
}
.gray ul li a{
    display:block;
    color:#222;
}
.gray ul li a:hover{
    text-decoration:none;
    color:#000;
}
#section2 #Accordion1 a     {
	text-decoration: none;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
}
#section2 #Accordion1 a img     {
	padding-left: 15px;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	padding-top: 15px;
}

#form {
	width: 500px;
	margin-left: 140px;
}
